@model ProjetoBackend.Models.Fornecedor

@{
    ViewData["Title"] = "Adicionar";
}
<div class="container-fluid text-center my-4">
    <img class="img-fluid" src="~/img/jaketa-white.png" width="397" height="132" />
</div>

<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row ms-3 me-3">
            <div class="col-12 col-md-6 mt-2">
                <div class="form-group text-light">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-2">
                <div class="form-group text-light">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row ms-3 me-3 justify-content-center d-flex">
            <div class="col-12 col-md-4 mt-2">
                <div class="form-group text-light">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <div class="form-group text-light">
                    <label asp-for="CnpjCpf" class="control-label"></label>
                    <input asp-for="CnpjCpf" class="form-control" />
                    <span asp-validation-for="CnpjCpf" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center d-flex mt-4">
            <div class="col-12 col-md-4 ms-5 me-5">
                <div class="form-group">
                    <input type="submit" value="Adicionar" class="btn btn-adicionar text-black w-100" />
                </div>
            </div>
            <div class="col-12 col-md-4 me-5">
                <a class="btn btn-outline-secondary w-100" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </form>
</div>









<!--

 <div class="container">


         <div class="row ms-3 me-3">
             <div class="col-12 col-md-6 mt-2">


 -->
<!--

<div class="row">
    <div class="col-md-4">



            <div class="form-group">

            </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
