<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoBackend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoBackend.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="custom-bg">
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl  navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">DbJaketa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item custom-link">
                            <a class="nav-link text-light fw-bold custom-link" asp-area="" asp-controller="Home" asp-action="Index">Pagina Inicial</a>
                        </li>
                        <li class="nav-item custom-link">
                            <a class="nav-link text-light fw-bold custom-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre Nós</a>
                        </li>
                        <li class="nav-item custom-link">
                            <a class="nav-link text-light fw-bold custom-link" asp-area="" asp-controller="Servicos" asp-action="Index">Serviços</a>
                        </li>
                        <li class="nav-item custom-link">
                            <a class="nav-link text-light fw-bold custom-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item custom-link">
                            <a class="nav-link text-light fw-bold custom-link" asp-area="" asp-controller="Vendas" asp-action="Index">Vendas</a>
                        </li>
                        <li class="nav-item custom-link">
                            <a class="nav-link text-light fw-bold custom-link" asp-area="" asp-controller="Fornecedores" asp-action="Index">Fornecedores</a>
                        </li>
                        <li class="nav-item custom-link">
                            <a class="nav-link text-light fw-bold custom-link" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias de Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a>
                        </li>


                    </ul>


                    <partial name="_LoginPartial" />


                </div>
            </div>
        </nav>
    </header>
    <div class="flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted mt-auto">

        <div class="row m-0">
            <div class="col-12 col-xl-4 text-light text-center text-xl-start ms-0 mb-2 mb-xl-0  ms-xl-4 pt-2">
                &copy; 2024 - DbJaketa
            </div>

            <div class="col-12 col-xl">
                <div id="iconesFooter" class="text-light pt-3 mb-4 pe-0 pe-xl-5 text-center text-xl-end">
                    <a href="https://www.facebook.com/jaketamoveis/?locale=pt_BR" target="_blank" class=" text-light text-decoration-none">
                        <ion-icon name="logo-facebook" class="custom-icon me-0 me-xl-4"></ion-icon>
                    </a>
                    <a href="https://www.instagram.com/jaketamoveisoficial/?hl=pt" target="_blank" class=" text-light text-decoration-none">
                        <ion-icon name="logo-instagram" class="custom-icon me-0 me-xl-4"></ion-icon>
                    </a>
                </div>

                <div id="" class="text-light pe-0 pe-xl-5 text-center text-xl-end mb-3">
                    <span class="text-light text-end custom-txt-footer me-0 me-xl-4">
                        <a href="https://api.whatsapp.com/send?phone=5514997913594&text= Gostaria de saber mais sobre" target="_blank" rel="noopener noreferrer" class="link link-light text-decoration-none">
                            <ion-icon name="logo-whatsapp" class="me-1 pt-2"></ion-icon>
                            <span class="mb-3">(14) 99791-3594</span>
                        </a>
                    </span>

                    <span class="text-light custom-txt-footer me-0 me-xl-4">
                        <ion-icon name="call-outline" class="me-1 pt-2"></ion-icon>
                        <a href="callto:+551434185688" class="text-light text-decoration-none text-end">
                            <span class="pb-3">(14) 3418-5688</span>
                        </a>
                    </span>
                </div>

                <div id="" class="text-light pe-0 pe-xl-5 text-center text-xl-end me-0 me-xl-4 mb-3">
                    <a class="text-light text-decoration-none text-end" href="mailto:jaketamoveis@jaketamoveis.com.br">jaketamoveis@jaketamoveis.com.br</a>
                </div>


                <div id="" class="text-light pe-0 pe-xl-5 text-center text-xl-end me-0 me-xl-4 mb-3">
                    <p class="m-0"> <ion-icon name="location-outline"></ion-icon> Rua Visconde do Rio Branco, 141</p>
                    <p class="m-0">Centro – Jaú | Esquina com 13 de maio</p>
                </div>

            </div>


        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/ionicons/ionicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
