@{
    ViewData["Title"] = "Produtos/Serviços";
}

<link href="~/css/site.css" rel="stylesheet" />
<body>
    <div class="container-fluid text-center my-4">
        <img class="img-fluid" src="../img/jaketa-white.png" width="397" height="132" />
    </div>
    <div class="container-fluid">

        <div class="row justify-content-md-center gap-4 mb-4">
            <div class="col-md-3 position-relative">
                <a class="text-light fw-bold" asp-area="" asp-controller="Clientes" asp-action="Index">
                    <img class="img-fluid fixed-size" src="~/img/clientes.jpg" alt="Clientes" />
                    <h3 class="text-light text-overlay fs-4">Clientes</h3>
                </a>
            </div>
            <div class="col-md-3 position-relative">
                <a class="text-light fw-bold" asp-area="" asp-controller="Vendas" asp-action="Index">
                    <img class="img-fluid fixed-size" src="~/img/Vendas.jpg" alt="Vendas" />
                    <h3 class="text-light text-overlay fs-5">Vendas</h3>
                </a>
            </div>
        </div>

        <div class="row justify-content-md-center gap-4 mb-4">
            <div class="col-md-3 position-relative">
                <a class="text-light fw-bold" asp-area="" asp-controller="Fornecedores" asp-action="Index">
                    <img class="img-fluid fixed-size" src="~/img/fornecedores.jpg" alt="Fornecedores" />
                    <h3 class="text-light text-overlay fs-4">Fornecedores</h3>
                </a>
            </div>
            <div class="col-md-3 position-relative">
                <a class="text-light fw-bold" asp-area="" asp-area="" asp-controller="Compras" asp-action="Index">
                    <img class="img-fluid fixed-size" src="~/img/compras.jpg" alt="Compras" />
                    <h3 class="text-light text-overlay fs-5">Compras</h3>
                </a>
            </div>
        </div>


    </div>
</body>