@{
    ViewData["Title"] = "Sobre nós";
}

<body>
    <div class="container-fluid ms-3">
        <div class="row my-4">
            <div class="col-12 position-relative d-flex">
                <img class="img-fluid rounded-circle  justify-content-start align-items-start sobrenos" src="https://www.jaketamoveis.com.br/images/jaketa-empresa.jpg" width="320" height="320" alt="Frente da loja jaketa" />

                <div class="ms-md-5 col-md-8 font-size">
                    <h1 class="text-light fw-bolder">Sobre a Empresa:</h1>
                    <div class="bg-light border rounded">

                        <p class="fw-medium ms-5 me-3">
                            Talvez você nunca tenha parado para pensar, mas sem dúvida, a maior <br /> parte do seu tempo você passa em seu ambiente de trabalho. Portanto, é <br /> fundamental que esse ambiente além de lindo seja repleto de conforto, <br /> sofisticação e praticidade. É exatamente pensando em todas essas <br /> necessidades que o Jaketa Móveis, desde 1968, atua no mercado <br /> mobiliário corporativo com todas as soluções necessárias para criar o <br /> melhor ambiente de trabalho possível, com mesas, cadeiras e poltronas, <br /> armários e organizadores, estações de trabalho, persianas, <br /> divisórias e muito mais. <br />
                            Muito além de comercializar produtos de primeira qualidade, o Jaketa <br /> Móveis tem como missão oferecer aos seus clientes um ambiente de <br /> trabalho organizado, confortável e produtivo, para que assim, o <br /> empresário ou os colaboradores obtenham o máximo desempenho em <br /> suas funções, fazendo da empresa uma organização de sucesso.<br />
                            Com sede localizada na cidade de Jaú, no interior do Estado de São <br /> Paulo, o Jaketa Móveis tem grande facilidade em atender as <br /> necessidades de cada cliente com agilidade e prontidão, evitando atrasos <br /> ou transtornos indesejados. De pequenas a grandes empresas, colégios e <br /> universidades, prefeituras, hospitais, clínicas, pessoas físicas <br /> e profissionais liberais, o Jaketa Móveis possui clientes em todo o estado <br /> de São Paulo e também em alguns estados do Brasil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12 position-relative d-flex">
                <img class="img-fluid rounded-circle justify-content-start align-items-start sobrenos" src="~/img/JOca.png" alt="Frente da loja jaketa" />

                <div class="ms-md-5 col-md-8 font-size">
                    <h1 class="text-light fw-bolder">Sobre o Desenvolvedor:</h1>
                    <div class="bg-light border rounded">
                        <p class="fw-bold ms-5 me-3">
                            Joaquim Guilherme de S. R.
                        </p>
                        <p class="fw-medium ms-5 me-3">
                            <br />
                            Atualmente, cursa Desenvolvimento de sistemas no Senai de Jaú <br />
                            <br />
                            Desenvolve sistemas com Javascript, Html e css, e C# <br />
                            <br />
                            Sabe SQL e Azure.
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>