@{
    ViewData["Title"] = "Sobre nós";
}

<body>
    <div class="container-fluid ms-3 text-center">
        <div class="row my-4 mx-3 mx-xl-5">
            <div class="col-12 col-xl-3">
                <img class="img-fluid rounded-circle  justify-content-start align-items-start sobrenos" src="https://www.jaketamoveis.com.br/images/jaketa-empresa.jpg" width="320" height="320" alt="Frente da loja jaketa" />
            </div>

            <div class="col-12 col-xl">
                <div class="font-size">
                    <h1 class="text-light fw-bolder text-center">Sobre a Empresa:</h1>
                    <div class="bg-light border rounded">
                        <p>
                            Talvez você nunca tenha parado para pensar, mas sem dúvida, a maior
                            parte do seu tempo você passa em seu ambiente de trabalho. Portanto, é
                            fundamental que esse ambiente além de lindo seja repleto de conforto,
                            sofisticação e praticidade. É exatamente pensando em todas essas
                            necessidades que o Jaketa Móveis, desde 1968, atua no mercado
                            mobiliário corporativo com todas as soluções necessárias para criar o
                            melhor ambiente de trabalho possível, com mesas, cadeiras e poltronas,
                            armários e organizadores, estações de trabalho, persianas,
                            divisórias e muito mais.
                        </p>
                        <p>
                            Muito além de comercializar produtos de primeira qualidade, o Jaketa
                            Móveis tem como missão oferecer aos seus clientes um ambiente de
                            trabalho organizado, confortável e produtivo, para que assim, o
                            empresário ou os colaboradores obtenham o máximo desempenho em
                            suas funções, fazendo da empresa uma organização de sucesso.
                        </p>

                        <p>
                            Com sede localizada na cidade de Jaú, no interior do Estado de São
                            Paulo, o Jaketa Móveis tem grande facilidade em atender as
                            necessidades de cada cliente com agilidade e prontidão, evitando atrasos
                            ou transtornos indesejados. De pequenas a grandes empresas, colégios e
                            universidades, prefeituras, hospitais, clínicas, pessoas físicas
                            e profissionais liberais, o Jaketa Móveis possui clientes em todo o estado
                            de São Paulo e também em alguns estados do Brasil.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row my-4 mx-3 mx-xl-5">
            <div class="col-12 col-xl-3 text-center">
                <img class="img-fluid rounded-circle justify-content-start align-items-start sobrenos" src="~/img/JOca.png" alt="Frente da loja jaketa" />
            </div>

            <div class="col-12 col-xl">
                <div class="font-size">
                    <h1 class="text-light fw-bolder text-center">Sobre o Desenvolvedor:</h1>
                    <div class="bg-light border rounded">
                        <p class="fw-bold ms-5 me-3">
                            Joaquim Guilherme de S. R.
                            <br />
                        </p>
                        <p class="fw-medium ms-5 me-3">
                            Sabe SQL e Azure.
                            <br />
                        <p class="fw-medium ms-5 me-3">
                            Desenvolve sistemas com Javascript, Html e css, e C# <br />
                            <br />
                        </p>
                        <p class="fw-medium ms-5 me-3">
                            Atualmente, cursa Desenvolvimento de sistemas no Senai de Jaú <br />
                            <br />
                        </p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>