@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row  justify-content-center align-items-center">
    <div class="col-md-5 text-light">
        <div class="container-fluid text-center my-4">
            <img class="img-fluid" src="~/img/jaketa-white.png" width="397" height="132" />
        </div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Criar uma nova conta:</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <h1>Email:</h1>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <h1>Senha:</h1>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <h1>Confirmar senha:</h1>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirmar a senha</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center mt-5">
                <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>
<div class="mt-4">
    <h3 class="text-light text-center">Ou entrar com:</h3>

    <div class="d-flex justify-content-center align-items-center">

        <div class="mx-2">
            <a href="/auth/facebook" aria-label="Login com Facebook">
                <svg class="custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="facebook">
                    <path fill="#1976D2" d="M14 0H2C.897 0 0 .897 0 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V2c0-1.103-.897-2-2-2z"></path>
                    <path fill="#FAFAFA" fill-rule="evenodd" d="M13.5 8H11V6c0-.552.448-.5 1-.5h1V3h-2a3 3 0 0 0-3 3v2H6v2.5h2V16h3v-5.5h1.5l1-2.5z" clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
        <div class="mx-3">
            <a href="/auth/google" aria-label="Login com Facebook">
                <svg class="custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.018 104.1" id="google">
                    <path fill="#4285f4" d="M102.018 53.204a44.6 44.6 0 0 0-1.1-10.641H52.05v19.316h28.685a25.436 25.436 0 0 1-10.641 16.887l-.1.647 15.452 11.97 1.07.107c9.831-9.08 15.5-22.44 15.5-38.286"></path>
                    <path fill="#34a853" d="M52.05 104.1c14.053 0 25.851-4.627 34.469-12.608L70.094 78.768c-4.395 3.066-10.294 5.206-18.044 5.206a31.335 31.335 0 0 1-29.611-21.63l-.61.052L5.762 74.83l-.21.584a52.012 52.012 0 0 0 46.5 28.686"></path>
                    <path fill="#fbbc05" d="M22.439 62.344A32.044 32.044 0 0 1 20.7 52.05a33.672 33.672 0 0 1 1.677-10.294l-.029-.69L6.084 28.432l-.532.253a51.94 51.94 0 0 0 0 46.729l16.887-13.07"></path>
                    <path fill="#eb4335" d="M52.05 20.126a28.848 28.848 0 0 1 20.126 7.75l14.69-14.343A50.008 50.008 0 0 0 52.05 0a52.012 52.012 0 0 0-46.5 28.685l16.831 13.071a31.463 31.463 0 0 1 29.669-21.63"></path>
                </svg>
            </a>
        </div>
        <div class="mx-">
            <a href="/auth/facebook" aria-label="Login com Apple">
                <svg class="custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="apple">
                    <g fill-rule="evenodd" fill="#ffffff" class="color000000 svgShape">
                        <path d="M11.6218,4.7571c-0.0193291,-2.02332 1.65317,-2.99846 1.72865,-3.04467c-0.939167,-1.37684 -2.40442,-1.56532 -2.92624,-1.58735c-1.24564,-0.125075 -2.431,0.734352 -3.06342,0.734352c-0.630702,0 -1.60726,-0.7153 -2.63953,-0.694961c-1.35921,0.0188997 -2.61125,0.789063 -3.31105,2.00483c-1.41025,2.44865 -0.360481,6.07511 1.01479,8.0616c0.671226,0.970026 1.47351,2.06429 2.52553,2.02476c1.0148,-0.0397892 1.39689,-0.654453 2.62078,-0.654453c1.22488,0 1.56888,0.654453 2.64224,0.634268c1.08898,-0.0196037 1.78139,-0.990762 2.44848,-1.96475c0.771157,-1.12822 1.0887,-2.22035 1.10719,-2.27707c-0.0234604,-0.0085233 -2.12539,-0.815491 -2.14743,-3.23655v0Z" transform="translate(.745 3.743)" fill="#ffffff" class="color000000 svgShape"></path>
                        <path d="M2.49696,2.55553c0.559066,-0.677623 0.934193,-1.61793 0.831414,-2.55553c-0.804695,0.031969 -1.78039,0.537152 -2.3568,1.21266c-0.51813,0.599437 -0.97158,1.55665 -0.848624,2.47462c0.897671,0.0697992 1.81466,-0.455431 2.37401,-1.13175v0Z" transform="translate(7.857)" fill="#ffffff" class="color000000 svgShape"></path>
                    </g>
                </svg>
            </a>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
